.ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
}
.li {
  background: black;

  padding: 10px 21px;
  border-radius: 10px;
}
.link {
  text-decoration: none;
  color: white;
}
