/* * {
  margin: 0;
  background-color: rgb(6, 6, 61);
} */

.Categories {
  height: 8rem;
  display: flex;
  justify-content: space-between;
}

.CapsuleCorp {
  height: 5rem;
}

.resume {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  justify-content: space-between;
  margin-left: 12rem;
  margin-top: 2rem;
  gap: 50px;
  padding-bottom: 10%;
}

.anime {
  height: 20rem;
  width: 14rem;
  border-radius: 5%;
}
