body {
  background-image: url("../src/assets/images/sunset.png");
  background-size: cover;
}
img {
  height: 5rem;
}
p {
  font-size: 1rem;
}
.Categories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-right: 2rem;
}
h1 {
  background-color: white;
  font-size: 2rem;
  border-radius: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.resume {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  justify-content: space-between;
  margin-left: 17rem;
  margin-top: 2rem;
  gap: 50px;
  padding-bottom: 10%;
}
.anime {
  height: 20rem;
  width: 14rem;
  border-radius: 5%;
}
