body {
  background-image: url("../src/components/images/BackgroundNight.jpg");
  background-size: cover;
  margin: 0;
}
.ImgShenron {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.VideoResume {
  text-align: center;
}
h1 {
  margin-top: 0;
  color: white;
}
