.carousel {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 35px;
  min-height: 100vh; /*jouer ici pour la taille  la vraie valeur min-heigh 100vh*/
}

.box {
  position: relative;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  animation: carousel 20s linear infinite;
}

@keyframes carousel {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 60deg)) translateZ(400px);
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}

.onepics {
  --i: 1;
}
.twopics {
  --i: 2;
}
.threepics {
  --i: 3;
}
.fourpics {
  --i: 4;
}
.fivepics {
  --i: 5;
}
.sixpics {
  --i: 6;
}

.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
