@font-face {
  font-family: Bangers;
  src: url(Bangers-Regular.ttf);
}
.PageSelec.carousel {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  position: relative;
  top: 5rem;
  margin: 0;
  padding: 0;
  width: 15rem;
  height: 17rem;
  /*debut carrussel*/
  transform-style: preserve-3d;
  animation: carousel 20s linear infinite;
}

@keyframes carousel {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(260deg);
  }
}
.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 60deg)) translateZ(300px);
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}

.onepics {
  --i: 1;
}
.twopics {
  --i: 2;
}
.threepics {
  --i: 3;
}
.fourpics {
  --i: 4;
}
.fivepics {
  --i: 5;
}
.sixpics {
  --i: 6;
}
/*FIN*/
.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.AnimeText {
  color: white;
  font-size: 10rem;
  font-family: Bangers;
  text-shadow: 0 0 10px #36e9fd;
  margin-top: 0.5rem;
}

@media screen and (max-width: 726px) {
  /* .carousel {
    min-height: 40vh;
  }
  .box {
    width: 20%;
    height: 50%;
  } */
  .AnimeText {
    font-size: 5rem;
    margin-top: 0.5rem;
  }
}
