.LoginSignup {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 6.5rem;
}
.Login {
  position: relative;
  right: 7rem;
  height: 4.5rem;
}
.SignUp {
  position: relative;
  height: 4rem;
  right: 20.6rem;
  bottom: 0.4rem;
}
