.containerformulaire {
  overflow: hidden;
  width: 100%;
}

.formulaire {
  display: flex;
  flex-flow: column nowrap;
  margin: 2%;
  overflow: hidden;
}

.label {
  margin-bottom: 0.5rem;
  font-size: 1.1em;
  font-weight: 700;
}

.texterea {
  height: 5rem;
  resize: none;
}

.boutton {
  padding: 10px;
  background-color: #a54acf;
  color: white;
  border: none;
  margin: 1rem;
}

.boutton:hover {
  background-color: red;
}
