#HomePage {
  background-image: url("../src/components/imageBackground/BackgroundMorning.png");
  background-size: cover;
  margin: 0;
}
.NavBarHome {
  height: 10rem;
  display: flex;
  justify-content: space-between;
}
.IriyajoLogo {
  height: 10rem;
}
.AkatsukiLogo {
  height: 8rem;
  width: 17rem;
  margin-bottom: 1rem;
}
.NuageMagikLogo {
  height: 9rem;
  width: 17rem;
  margin-top: 1rem;
}
