@font-face {
  font-family: Bangers;
  src: url(Bangers-Regular.ttf);
}
.NavLink {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  flex-wrap: wrap;
}
.ImageNavLink {
  height: 5rem;
}
.textNavBar {
  font-family: Bangers;
  text-shadow: 0px 0px 20px #36e9fd;
  color: white;
  text-align: center;
  position: relative;
  bottom: 3.5rem;
  left: 1rem;
}
@media screen and (max-width: 426px) {
  .NavLink {
    margin: 0;
  }
  .ImageNavLink {
    height: 8vh;
  }
  .textNavBar {
    height: 1vh;
  }
}
