@font-face {
  font-family: Bangers;
  src: url(Bangers-Regular.ttf);
}
.PageSelection {
  background-image: url("../src/components/imageBackground/BackgroundSunset.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
.resume {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
  justify-content: space-between;
  margin-left: 2rem;
  gap: 50px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
img {
  border-radius: 10%;
}
.imageAnime:hover {
  opacity: 0.8;
}
.titreAnime {
  font-size: 1.5rem;
  font-family: Bangers;
  color: white;
  text-align: left;
}
.CategorieAnime {
  font-family: Bangers;
  text-shadow: 0 0 10px #36e9fd;
  color: white;
  font-size: 10rem;
  margin-left: 34rem;
}
