#HomePage {
  background-image: url("../src/components/imageBackground/BackgroundMorning.png");
  background-size: cover;
  background-attachment: fixed;
}
.LogoIriyajo {
  height: 30rem;
  padding-bottom: 6rem;
  padding-left: 35rem;
}
