.PageResume {
  background-image: url("../src/components/imageBackground/BackgroundNight.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
.ImgShenron {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.PopShenron {
  height: 25rem;
}
.principal {
  display: block;
}
.VideoResume {
  display: grid;
  color: white;
  font-size: 1.5rem;
  justify-content: space-around;
  gap: 10;
}
.TextResume {
  color: rgb(93, 179, 179);
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 5rem;
  margin-left: 20rem;
  margin-right: 20rem;
}
.VideoResume h2 {
  color: greenyellow;
  text-align: center;
}
.player-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-radius: 30%;
}
.player {
  border-color: brown;
}
.titre {
  display: flex;
}
.titre h2 {
  height: 15vh;
  font-size: 3 rem;
  text-align: center;
}
.episode {
  display: flex;
  justify-content: center;
}
.jojo {
  padding-top: 5rem;
  font-size: 1.5rem;
}
.affiche {
  display: flex;
  padding: 1rem;
  padding-left: 3rem;
  flex-wrap: wrap;
  gap: 10px;
}
