@font-face {
  font-family: Bangers;
  src: url(Bangers-Regular.ttf);
}
.PageResume {
  background-image: url("../src/components/imageBackground/BackgroundNight.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
.ImgShenron {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.titreResume {
  text-align: center;
  margin-bottom: 2rem;
  font-family: bangers;
  text-shadow: 0 0 10px #36e9fd;
  font-size: 2.5rem;
}
.PopShenron {
  height: 25rem;
}
.principal {
  display: block;
}
.VideoResume {
  display: grid;
  color: white;
  font-size: 1.5rem;
  justify-content: space-around;
  gap: 10;
}
.TextResume {
  color: white;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.692);
  text-align: center;
  border-radius: 30px;
}
.imgVideoResume {
  height: 25rem;
  border-radius: 10%;
  margin-bottom: 4rem;
}
.resumeAnime {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: Bangers;
  text-shadow: 0 0 10px #36e9fd;
}
.EpisodeAnime {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: Bangers;
  text-shadow: 0 0 10px #36e9fd;
  margin-bottom: 1rem;
}

.VideoResume h2 {
  font-size: 2.5rem;
  text-align: center;
  font-family: Bangers;
  text-shadow: 0 0 10px #36e9fd;
  margin-bottom: 1rem;
}
.player-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.player {
  /* border-color: brown; */
  border-radius: 10px;
  margin-bottom: 13rem;
  border-radius: 30%;
}
.titre {
  text-align: center;
}
.titre h2 {
  height: 15vh;
  font-size: 3rem;
  text-align: center;
}

.jojo {
  padding-top: 5rem;
  font-size: 1.5rem;
}
.affiche {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
  gap: 20px;
}
.riri {
  border-radius: 10%;
  border: solid 0.2rem black;
}
@media screen and (max-width: 726px) {
  .PopShenron {
    height: 14rem;
  }
}
