#PageSelection {
  background-image: url("../src/components/imageBackground/BackgroundSunset.jpg");
  background-size: cover;
  margin: 0;
}
.CapsuleCorp {
  height: 7rem;
}

.LogoSeinen {
  height: 4.5rem;
}
p {
  font-size: 1rem;
}
.categories {
  display: flex;
  justify-content: space-between;
  margin-right: 10rem;
  position: relative;
  bottom: 2rem;
}
#text {
  background-color: white;
  font-size: 2rem;
  border-radius: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.resume {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  justify-content: space-evenly;
  margin-left: 10rem;

  gap: 50px;
  padding-bottom: 2rem;
}
.anime {
  height: 20rem;
  width: 14rem;
  border-radius: 5%;
}
